<% layout('layouts/Boilerplate') %>

    <div class="row">
        <div class="col-6 offset-3">
            <div class="card">
                <img class="card-img-top" src="<%= campground.image %>" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">
                        <strong>
                            <%= campground.title %>
                        </strong>
                    </h5>
                    <p class="card-text">
                        <%= campground.description %>
                    </p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <%= campground.location %>
                    </li>
                    <li class="list-group-item">
                        <strong>$<%= campground.price %></strong>/night
                    </li>
                </ul>
                <div class="card-body">
                    <a class="card-link btn btn-info" href="/campgrounds/<%=campground._id%>/edit">
                        Edit this campground
                    </a>
                    <form class="d-inline" action="/campgrounds/<%= campground._id %>?_method=DELETE" method="POST">
                        <button class="btn btn-danger"
                            onclick="return confirm('Are you sure you want to delete <%=campground.title %>?');">
                            Delete <%= campground.title %>?
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>