<% layout('layouts/Boilerplate') %>
    <link rel="stylesheet" href="/stylesheets/stars.css">

    <div class="row">
        <!--! INFO COLUMN -->
        <div class="col-8">
            <!-- BOOTSTRAP CARD -->
            <div class="card mb-3">
                <div class="card-body">
                    <!-- IMAGE -->
                    <div id="campgroundCarousel" class="carousel slide">
                        <div class="carousel-inner">
                            <% campground.images.forEach((img, i)=>{ %>
                                <div class="carousel-item <%= i === 0 ? 'active':'' %>">
                                    <img src="<%= img.url %>" class="d-block w-100" alt="...">
                                </div>
                                <%})%>
                        </div>
                        <% if(campground.images.length> 1) { %>
                            <button class="carousel-control-prev" type="button" data-bs-target="#campgroundCarousel"
                                data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#campgroundCarousel"
                                data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </button>
                            <% } %>
                    </div>

                    <!-- TITLE -->
                    <h4 class="card-title">
                        <strong>
                            <%= campground.title %>
                        </strong>
                    </h4>
                    <span>submitted by <strong>
                            <%= campground.author.username %>
                        </strong> </span>
                    <hr>
                    <!-- DESCRIPTION -->
                    <p class="card-text">
                        <%= campground.description %>
                    </p>
                </div>
                <!-- GROUPING ALL OF THE SUB ROWS -->
                <ul class="list-group list-group-flush">
                    <!-- LOCATION -->
                    <li class="list-group-item">
                        <%= campground.location %>
                    </li>
                    <!-- PRICE -->
                    <li class="list-group-item">
                        <strong>$<%= campground.price %></strong>/night
                    </li>
                </ul>
                <!--? checking if campgr author is current user before showing DELETE and EDIT buttons -->
                <!-- SEPARATE DIV TO HOLD BUTTONS -->
                <% if(currentUser && campground.author.equals(currentUser._id)) { %>
                    <div class="card-body">
                        <a class="card-link btn btn-outline-info" href="/campgrounds/<%=campground._id%>/edit">
                            Edit this campground
                        </a>
                        <form class="d-inline" action="/campgrounds/<%= campground._id %>?_method=DELETE" method="POST">
                            <button class="btn btn-outline-danger"
                                onclick="return confirm('Are you sure you want to delete <%=campground.title %>?');">
                                Delete <%= campground.title %>?
                            </button>
                        </form>
                    </div>
                    <% } %>
                        <!-- FOOTER -->
                        <div class="card-footer text-center text-muted">
                            <a href="/campgrounds">All Campgrounds</a>
                        </div>
            </div>
        </div>


        <!--! REVIEW COLUMN -->
        <div class="col-4">
            <!-- hiding review form if no user logged in -->
            <!--? REVIEW SECTION LOGIC -->
            <h2>Stayed here? Leave a review!</h2>
            <% if(currentUser) { %>
                <!-- review creation validated form -->
                <form action="/campgrounds/<%= campground._id %>/reviews" method="POST" class="mb-4 validated-form"
                    novalidate>
                    <!-- rating score slider -->
                    <!-- <div class="mb-3">
                        <label for="rating" class="form-label">Review Score</label>
                        <input type="range" class="form-range" min="1" max="5" id="rating" name="review[rating]"
                            required>
                    </div> -->
                    <fieldset class="starability-coinFlip">
                        <input type="radio" id="first-rate1" name="review[rating]" value="1" />
                        <label for="first-rate1" title="Terrible">1 star</label>
                        <input type="radio" id="first-rate2" name="review[rating]" value="2" />
                        <label for="first-rate2" title="Not good">2 stars</label>
                        <input type="radio" id="first-rate3" name="review[rating]" value="3" />
                        <label for="first-rate3" title="Average">3 stars</label>
                        <input type="radio" id="first-rate4" name="review[rating]" value="4" />
                        <label for="first-rate4" title="Very good">4 stars</label>
                        <input type="radio" id="first-rate5" name="review[rating]" value="5" />
                        <label for="first-rate5" title="Amazing">5 stars</label>
                    </fieldset>
                    <!-- review body textarea -->
                    <div class="mb-3">
                        <label for="body" class="form-label">Review</label>
                        <textarea name="review[body]" class="form-control" id="body" cols="30" rows="5"
                            required></textarea>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div>
                    <!-- submit button -->
                    <button class="btn btn-success">Submit Review</button>
                </form>
                <% } %>
                    <!-- Looping through reviews and generating cards for each -->
                    <% const reviewRev=campground.reviews.reverse(); %>
                        <% for(let review of reviewRev) {%>
                            <div class="card">
                                <div class="card-header">
                                    <p class="starability-result" data-rating="<%= review.rating %>">
                                        Rated: <%= review.rating %> stars
                                    </p>
                                    <h5 class="card-title"><strong>Rating: <%= review.rating %>/5</strong></h5>
                                    <span class="card-subtitle text-muted"><small>Posted by <strong>
                                                <%= review.author.username %>
                                            </strong> on
                                            <%= review._id.getTimestamp().toISOString() %>
                                        </small></span>
                                </div>
                                <div class="card-body">
                                    <p class="card-text">
                                        <%= review.body %>
                                    </p>
                                    <% if(currentUser && review.author.equals(currentUser._id)) { %>
                                        <form
                                            action="/campgrounds/<%= campground._id %>/reviews/<%= review._id %>?_method=DELETE"
                                            method="POST">
                                            <button class="btn-sm btn btn-danger">
                                                Delete Review?
                                            </button>
                                        </form>
                                        <% } %>
                                </div>
                            </div>
                            <% } %>
        </div>
    </div>